# Add your sources by:
# Creating a rclone config file and copying it to this directory.
# (Detailed instructions https://rclone.org/remote_setup/#configuring-by-copying-the-config-file)
# Then, add each remote:folder/on/remote pair on each line.

# Remove the # from the following line to uninstall KoboCloud
#UNINSTALL
# Remove the # from the following line to delete files when they are no longer on the remote server
#REMOVE_DELETED
