# Add your URLs to this file
# Remove the # from the following line to uninstall KoboCloud
#UNINSTALL
# Remove the # from the following line to delete files when they are no longer on the remote server
#REMOVE_DELETED
